<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="DDT">
<test name="DDTTesting" parallel="methods" thread-count="5">
<!-- <parameter name="browser" value="chrome"/>-->
<classes>

<!-- <class name="com.newtest.TestCases.BrowserScrollingTest"/>
<class name="com.newtest.TestCases.HandleMultipleWindows"/> -->
<class name="com.newtest.TestCases.Loop"/>

</classes>

</test>
</suite>